html,
body,
.app {
  height: 100%;
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.change-resolution-button {
  margin: 15px 0 0 0;
}

.grid-container {
  border-style: solid;
  border-color: black;
  border-width: 0.1px;
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 400px;
}

.square-container {
  display: flex;
  flex: auto;
}

.square {
  flex: auto;
  /* aspect-ratio: 1 / 1; */
}

.hover {
  background-color: black;
}
